body, ul, dl, ol, dd, h1, h2, h3, h4, h5, h6, p, input, form {
	margin: 0;
	padding: 0;
}
body {
	font: 12px arial, "Microsoft YaHei";
	color: #686868;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
li {
	list-style: none;
}
img {
	vertical-align: middle;;
}
input, button{
	border: 0 none;
	outline: none;
}
a {
	text-decoration: none;
	color: #686868;
}
a:hover {
	color: #ffa200;
}
i, em {
	font-style: normal;
}
.show {
	display: block;
}
.hide {
	display: none;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.claerfix {
	*zoom: 1;
}
.w {
	width: 1200px;
	margin: 0 auto;
}
.shot-cut {
	height: 28px;
	background-color: #2b2b2b;
}
.shot-cut li {
	height: 28px;
	line-height: 28px;
	padding-right: 30px;
	float: left;
}
.shot-cut a {
	color: #ccc;
}
.shot-cut a:hover {
	color: #ffa200;
}
.myyxk {
	display: inline-block;
	margin-right: 10px;
	height: 28px;
	width: 74px;
}
.myyxk:hover .shot-cut a {
	color: #ffa200;
	/*background-color: #fff;*/
}

.icondown {
	float: right;
	margin-top: 9px;
	margin-left: -13px;
	width: 12px;
	height: 12px;
	z-index: 1;
	background: url(../images/zj-css.png) no-repeat -35px -647px;
}
.c-phone {
	position: absolute;
	left: -15px;
	top: 6px;
	width: 9px;
	height: 16px;
	background: url(../images/iconfont-shouji.png) no-repeat;
}
.c-weibo, .c-weixin {
	position: absolute;
	width: 19px;
	height: 15px;
}
.c-weibo {
	left: -5px;
	top: 5px;
	background: url(../images/wb.png);
}
.c-weixin {
	left: 0;
	top: 5px;
	background: url(../images/wx.png);
}
.logo-box {
	height: 85px;
	padding-top: 35px;
	background-color: #333;
}
.logo-box form {
	position: relative;
	margin-top: 5px;
}
.logo-box form>span {
	position: absolute;
	bottom: 2px;
	left: 2px;
	text-align: center;
	width: 40px;
	cursor: pointer;
	height: 36px;
	color: #b0adae;
	font-size: 14px;
	line-height: 36px;
	/*background-color: pink;*/
	
}
.search {
	position: relative;
}
.search>a {
	position: relative;
	float: left;
	margin-top: 14px;
	padding: 0 40px 0 80px;
	font-size: 16px;
	color: #fcd200;
}
.search>a span {
	position: absolute;
	top: 10px;
	right: 24px;
	cursor: pointer;
	/*float: left;*/
	width: 12px;
	height: 6px;
	background: url(../images/common.png) no-repeat -78px 0;
	
}
.search i {
	position: absolute;
	top: 19px;
	left: 38px;
	/*float: left;*/
	width: 12px;
	height: 6px;
	background: url(../images/common.png) no-repeat -78px 0;
}
.searchtxt {
	width: 375px;
	height: 36px;
	padding-left: 55px;
	color: #ccc;
	background-color: #333;
	border: 2px solid #fcd200;
	vertical-align: top;
}
.searchbtn {
	height: 40px;
	width: 130px;
	line-height: 40px;
	text-align: center;
	color: #333;
	cursor: pointer;
	font: 700 20px "Microsoft YaHei";
	background-color: #fcd200;
	vertical-align: top;
}
.nav {
	position: relative;
	height: 50px;
	background-color: #1f1f1f;
}
.nav #nlist>li {
	position: relative;
	float: left;
	height: 50px;
	line-height: 50px;
	padding-right: 35px;
	/*transition: .3s;*/
}
.nav #nlist>li:hover {
	/*transform: rotate(4deg);*/
	/*transform-origin: left bottom;*/
}
.nav li i {
	position: absolute;
	top: -20px;
	left: -5px;
	height: 24px;
	color: #fff;
	background-color: #fd9f00;
	padding: 0 4px;
	line-height: 24px;
}
.nav li a {
	font-size: 16px;
	color: #fff;
}
.nav li a:hover {
	color: #ffa200;
}
.nav li em {
	position: absolute;
	top: 24px;
	border-top-width: 8px;
	border-left-width: 6px;
	border-right-width: 6px;
	border-style: solid;
	border-color: #fd9f00 transparent transparent transparent;
}
.nav li:nth-child(2) i {
	width: 60px;	
}
.nav li:nth-child(2) em {
	left: 28px;
}
.nav li:nth-child(8) i {
	width: 72px;
}
.nav li:nth-child(8) em {
	left: 36px;
}
.nav li:nth-child(9) i {
	width: 48px;
}
.nav li:nth-child(9) em {
	left: 24px;
}
.nav li>a {
	float: left;
	height: 50px;
	line-height: 50px;
}
.nav span {
	margin-top: 19px;
	margin-left: 5px;
	float: left;
	width: 12px;
	height: 12px;
	background: url(../images/zj-css.png) no-repeat -35px -647px;
}
.c-call {
	width: 168px;
	height: 42px;
	margin: 2px 0 0 40px;
	background: url(../images/tel.png) no-repeat -2px 0;
}
.rightnav li {
	position: relative;
}
#myyxk {
	position: absolute;
	width: 148px;
	left: -74px;
	top: 28px;
	z-index: 100;
	background-color: #fff;
}
#myyxk ul {
	width: 74px;
}
#myyxk li {
	width: 74px;
	height: 28px;
	text-align: center;
	padding: 0;
}
#myyxk li a {
	/*display: block;*/
	float: left;
	color: #686868;
	width: 74px;
	height: 28px;
	transition: .4s;
}
#myyxk li a:hover {
	color: #fff;
	background-color: #fcd200;
}
#c_phone, #c_wx {
	position: absolute;
	width: 140px;
	height: 140px;
	z-index: 1001;
	left: -54px;
	top: 34px;
}
.rightnav em {
	position: absolute;
	top: 21px;
	border-bottom-width: 10px;
	border-left-width: 10px;
	border-right-width: 10px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}
#city {
	position: absolute;
	left: 80px;
	top: 34px;
	z-index: 1000;
	width: 62px;
	/*width: 62px;
	height: 100px;
	background-color: pink;*/
}
.city-box {
	width: 62px;
	height: 20px;
	padding-top: 10px;
	line-height: 15px;
	text-align: center;
	background-color: #fff;
	transition: .4s;
}
.city-box:hover {
	color: #fff;
	background-color: #ffa200;
}
#active {
	position: absolute;
	left: -2px;
	top: 36px;
	z-index: 1000;
	width: 52px;
	height: 100px;
	background-color: pink;
}
#search .active-box {
	width: 52px;
	height: 30px;
	/*height: 0px;*/
	line-height: 30px;
	/*padding: 10px 0;*/
	/*line-height: 40px;*/
	text-align: center;
	background-color: #fff;
	transition: .4s;
}
#search .active-box:hover {
	color: #fff;
	background-color: #ffa200;
}
.n1, .n2, .n3, .n4, .n5, .n6, .n7, .n8{
	position: absolute;
	top: 50px;
	line-height: 36px;
	height: 36px;
	width: 1200px;
	z-index: 10;
	background-color: #fff;
	/*width: 100%;*/
}
.n1 {
	left: -68px;
}
.n2 {
	left: -168px;
}
.n3 {
	left: -284px;
}
.n4 {
	left: -384px;
}
.n5 {
	left: -484px;
}
.n6 {
	left: -666px;
}
.n7 {
	left: -784px;
}
.n8 {
	left: -968px;
}
#nlist .n1 a, #nlist .n2 a, #nlist .n3 a, #nlist .n4 a, #nlist .n5 a, #nlist .n6 a, #nlist .n7 a, #nlist .n8 a {
	float: left;
	font-weight: 400;
	font-size: 16px;
	height: 36px;
	color: #686868;
	line-height: 36px;
	cursor: pointer;
	line-height: 36px;
	/*background-color: #ccc;*/
	padding: 0 10px;
	transition: .6s;
}
#nlist .n6 a, #nlist .n7 a, #nlist .n8 a{
	float: right;
}
#nlist .show a:hover {
	color: #fff;
	background-color: #ffa200;
}
#nlist .new-icon {
	position: absolute;
	margin: 0;
	padding: 0;
	top: -13px;
	width: 30px;
	height: 15px;
	font-size: 12px;
	line-height: 15px;
	color: #fff;
	text-align: center;
	background-image: none;
	background-color: #fb5c30;
}
#nlist .new-icon i {
	position: absolute;
	left: 10px;
	top: 15px;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border-bottom-width: 6px;
	border-left-width: 2px;
	border-right-width: 6px;
	border-top-width: 6px;
	border-style: solid;
	border-color: #fb5c30 transparent transparent  transparent; 
	background-color: transparent;
}
#nlist .n1-icon {
	left: 374px;
}
#nlist .n2-icon {
	left: 174px; 
}
#nlist .n4-icon {
	left: 64px;
}
#nlist .n6-icon {
	left: 56px;
}
#nlist .n7-icon {
	left: 30px;
}
#nlist .n72-icon {
	left: 417px;
}
#nlist .n73-icon {
	left: 588px;
}